.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3f51b5;
  color: white;
  padding: 10px;
}

header img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  border-radius: 50%;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.types {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.buttons-container button {
  margin-right: 10px;
}

.task-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 20px;
  max-width: 600px;
  text-align: center;
}

.task-text {
  font-size: 1.2rem;
  margin: 10px 0;
}

.type-buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.type-buttons-container button {
  margin-right: 10px;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.type-buttons-container button:hover {
  background-color: lightgreen;
}

@media only screen and (min-width: 768px) {
  .task-container {
    text-align: center;
  }
}
